block content
  h1= title
  p Results Page
  iframe(width='800', height='600', scrolling='yes', frameborder='yes', src= 'MapView')
  h1. map
    map
  h1.
    Results List
  ul
    each result in resultsList
      p xxxxxxxxxxxxx
        li= result.getCode()
        li= result.getName()
        li= result.getTemp()
        li= result.getWind()