doctype html
html(lang="en")
  head
    h1= title
    p Results Page
  body
    iframe(width='800', height='600', scrolling='yes', frameborder='yes', src= 'MapView')
    h1. map
      map
    a(href='#', onclick='postToFb()') Post to Facebook
    h1.
      Results List
    ul
      each result in resultsList
        p xxxxxxxxxxxxx
          li= result.getCode()
          li= result.getName()
          li= result.getTemp()
          li= result.getWind()

    #fb-root


  script.
    var resultsList = !{JSON.stringify(resultsList === undefined ? null : resultsList)};

    window.fbAsyncInit = function() {
      FB.init({
        appId       :'1646694312239569',
        status      : true, // check login status
        cookies     : true, // enable cookies to allow the server to access the session
        xfbml       : true  // parse XFBML
      });
    };

    // Load the SDK Asynchronously
    (function() {
      var e = document.createElement('script');
      e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
      e.async = true;
      document.getElementById('fb-root').appendChild(e);
    }());

    function getFlightRouteString () {
      var string = "";
      resultsList.forEach(function(result){
        if (string != "") {
          string = string + " >> ";
        }
        string = string + result.code;
      });
      return string;
    }

    function postToFb() {
      var obj = {
        method:      'feed',
        link:        'https://google.com', // to be changed later
        picture:     'https://domain.tld/75x75.jpg', // to be changed later
        name:        'My Travel Plans',
        caption:     'AirTime Application ',
        description: 'My Flight: ' + getFlightRouteString()// My Flight >> LAX >> SFO >> ALX >> etc
      };
      FB.ui(obj);
    }